<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Details</h1>

    <h2>Title: <%= foundappointment.title %></h2>
    <p>Price: <%= foundappointment.price %></p>
    <p> <%= foundappointment.rating %> Stars</p>


    <br>
    <br>

    <h3>Comments</h3>
    <form action="/appointmnents/<%=foundBook._id %>/comment" method="post">
        <label for="creator">Name:</label>
        <input id="creator" name="creator" type="text">

        <label for="content">Comment:</label>
        <textarea name="content" id="content"></textarea>

        <button>Submit Comment</button>
    </form>

    <% foundappointment.comments.forEach((oneComment)=>{ %>
        <p><%= oneComment.content %></p>
        <p>- By <%= oneComment.creator %></p>
    <% }) %>
    


</body>
</html>